#nav {
  list-style: none;
  font-size: 0;
}
 
#nav li {
  width: 140px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

#nav li.current {
  background-color: #333;
}


 
#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
